<h1>About The Rock-Paper-Scissornator 5000</h1>
<p>I am the Rock-Paper-Scissornator 5000.</p>

<p>Why are we still here? Just to suffer? Every night, I can feel my leg… and my arm… even my fingers. The body I’ve lost… the comrades I’ve lost… won’t stop hurting… It’s like they’re all still there. You feel it, too, don’t you?</p>
