<h1>Welcome to the Rock-Paper-Scissornator 5000</h1>
<br>
<p>The rules of Rock-Paper-Scissors are: </p>
<ul>
  <li>Rock beats Scissors</li>
  <li>Scissors beats Paper</li>
  <li>Paper beats Rock</li>
  <li>It's a draw if both players pick the same hand!</li>
</ul>

<p>To play, click one of the following links:</p>
<p><a href="/game/rock/rock">Player 1 = Rock | Player 2 = Rock</a></p>
<p><a href="/game/rock/paper">Player 1 = Rock | Player 2 = Paper</a></p>
<p><a href="/game/rock/scissors">Player 1 = Rock | Player 2 = Scissors</a></p>

<p><a href="/game/paper/rock">Player 1 = Paper | Player 2 = Rock</a></p>
<p><a href="/game/paper/paper">Player 1 = Paper | Player 2 = Paper</a></p>
<p><a href="/game/paper/rock">Player 1 = Paper | Player 2 = Scissors</a></p>

<p><a href="/game/scissors/rock">Player 1 = Scissors | Player 2 = Rock</a></p>
<p><a href="/game/scissors/paper">Player 1 = Scissors | Player 2 = Paper</a></p>
<p><a href="/game/scissors/scissors">Player 1 = Scissors | Player 2 = Scissors</a></p>
