<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Rock-Paper-Scissornator 5000!</title>
    <link rel='stylesheet' href='/style.css'>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/about'>About The Rock-Paper-Scissornator 5000</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
